SPRING_DATABASE_NAME=
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
DATA_REDIS_HOST=
DATA_REDIS_PORT=
DATA_REDIS_PASSWORD=
JWT_SECRET_KEY=
JWT_ACCESS_EXPIRATION_MS=
JWT_REFRESH_EXPIRATION_MS=
AUDIT_REDIS_STREAM_KEY=
AUDIT_REDIS_GROUP_NAME=
LOGIN_ATTEMPT_MAX=
LOGIN_BLOCK_TIME_MINUTES=
LOGIN_ATTEMPT_WINDOW_MINUTES=